@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@theme inline {
  --color-gray-c-900: #1f1f1f;
  --color-gray-c-700: #525963;
  --color-gray-c-500: #cccccc;
  --color-gray-c-400: #ced6de;
  --color-gray-c-300: #e6ebf0;
  --color-gray-c-200: #f0f4f7;
  --color-gray-c-obsidian: #0b0d10;

  --color-green: #0aa288;
  --color-green-subtle: #1df0bb0a;
}
